
    {% extends "signup/Global.html" %}
    {% block mainpage %}
        <div class="d-flex">
            <div class="card mt-3 mx-auto" style="min-width:20rem">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Wel-Come to Local for Vocal</h4>
                            <form id="login" onsubmit="process(event)">
                                <div class="form-group my-4 mx-3 rounded"> 
                                    <input id="phone" type="tel" name="phone" class="form-control rounded" Placeholder="Mobile No." />
                                    <input id="password" type="password" name="password" class="form-control rounded mt-3" Placeholder="Password" />
                                    {% if iserror %}
                                        <div class="text-center mt-2">
                                            <p class="text-danger">{{msg}}</p>
                                        </div>
                                    {% endif %}
                                    <div id="otpsendcontainer" class="mt-3">
                                        <a class="btn btn-primary text-white mt-2 rounded" id="validatephone">Login</a>
                                        <input type="submit" id="validatephone1" class="btn btn-primary text-white mt-2 rounded" value="Get OTP" hidden />
                                    </div>
                                    <div id="otpsendingcontainer" class="mt-3">
                                        <a class="btn btn-sm mt-3 rounded btn-primary text-white">Login-in  <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="text-center mt-2">
                                        <p>Not register yet ? <a class="text-primary" href="/ragistration">Signup</a></p>
                                    </div>
                                </div>
                            </form>
                            <div style="display:none">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="text" id="hiddenno" name="hiddenno" />
                                    <input type="password" id="hiddenpass" name="hiddenpass" />
                                    <button type="submit" id="VerifyMobilePass" name="VerifyMobilePass" hidden>submit</button>
                                </form>
                                </div>
                                <script>
                                $('#otpsendingcontainer').hide();
                                $('#validatephone').click(function(){
                                    var phonepattern = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
                                    if ($('#phone').val().length === 0) {
                                        Toastmessage('Phone Number not filled!')
                                    }
                                    else if (!phonepattern.test($('#phone').val())) {
                                        Toastmessage('Please Enter Valid Phone number!')
                                    }else{
                                        $('#validatephone1').click();
                                    }
                                });
                                </script>
                            <script>
                                const phoneInputField = document.querySelector("#phone");
                                const phoneInput = window.intlTelInput(phoneInputField, {
                                    preferredCountries: ["in"],
                                    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
                                });
                                const info = document.querySelector(".alert-info");
                                function process(event) {
                                    event.preventDefault();
                                    const phoneNumber = phoneInput.getNumber();
                                    console.log('phoneNumber',phoneNumber);
                                    if(phoneNumber.length<1)
                                    {
                                        Toastmessage("Enter Mobile Number");
                                    }else{
                                        if($('#password').val()=="")
                                        {
                                            Toastmessage("Enter Password");
                                        }else{
                                        const msg = "Verifying"+phoneNumber;
                                        $('#otpsendcontainer').hide();
                                        $('#otpsendingcontainer').show();
                                        $('#hiddenno').val(phoneNumber);
                                        $('#hiddenpass').val($('#password').val())
                                        $('#VerifyMobilePass').click();
                                        Toastmessage(msg);
                                        }
                                    }
                                }
                            </script>
                    </div>
                </div>
            </div>
        </div>
                  
                
    {% endblock %}
